<div class="container">
  <h4>Terapias de : {{msg}}</h4>
  <ul class="collection">
    {{#each terapias}}
    <li class="collection-item avatar">
      <i class="large material-icons circle amber lighten-2">{{icono}}</i>
      <span class=" title">Titulo: {{title}}</span>
      <p>{{firstLine}}<br>
        tipo: {{secondLine}}
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons light-blue-text">{{star}}</i></a>
    </li>
    {{/each}}
  </ul>
</div>